div.trainingBox {
	/*
	border: 1px solid #04C;
	margin: 0em;
	*/
	border: 1px solid #DDD;
	width: 90%;
	margin-bottom: 1em;
	}

dl.training {
	text-align: left;
	margin: 1em;
	border: 0 none !important;
	}

dl.training dt {
	//font-weight: bold;
	color: #999;
	}

dl.training dt:after {
	content: ":\00a0";
}

dl.training dd {
	padding: 0px 0px 0px 2em;
	}
	
dl.training dd span.trainerName{
	font-weight: bold;
	}
	
dl.training dd span.weekday{
	display: block;
	float: left;
	width: 3em;
	}